<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
	      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Demo middle</title>
</head>
<body>
	<app-demo-element headerText="JS ANIMATION">
		<div class="js-animation-element" #jsAnimationElement></div>
	</app-demo-element>
	<app-demo-element headerText="FILE READER">
		<input type="file" (change)="onFileLoad($event)">
	</app-demo-element>
</body>
</html>
